name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment want to destroy'
        required: true
        type: choice
        options:
          - dev
          - uat
          - prod

permissions:
  contents: read

jobs:
  plan:
    runs-on: ubuntu-latest
    env:
      TF_VAR_environment: ${{ github.event.inputs.environment }}
      TF_VAR_tenancy_ocid: ${{ vars.OCI_TENANCY_OCID }}
      TF_VAR_compartment_ocid: ${{ vars[format('TF_VAR_COMPARTMENT_OCID_{0}', github.event.inputs.environment)] }}
      TF_VAR_region: ${{ vars.OCI_REGION }}
      TF_VAR_config_file_profile: ${{ vars.TF_VAR_CONFIG_FILE_PROFILE }}
      BACKEND_CONFIG_BUCKET: ${{ vars[format('BACKEND_CONFIG_BUCKET_{0}', github.event.inputs.environment)] }}
      BACKEND_CONFIG_NAMESPACE: ${{ vars.BACKEND_CONFIG_NAMESPACE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 'Write Config & Key Files'
        run: |
          mkdir -p ~/.oci
          echo "${{ vars[format('OCI_CONFIG_FILE_{0}', github.event.inputs.environment)] }}" | tee ~/.oci/config > /dev/null
          echo "${{ secrets[format('OCI_KEY_FILE_{0}', github.event.inputs.environment)] }}" | tee ~/.oci/oci_api_key.pem > /dev/null
          chmod 600 ~/.oci/config ~/.oci/oci_api_key.pem
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Configure Terraform plugin cache
        run: |
          echo "TF_PLUGIN_CACHE_DIR=$HOME/.terraform.d/plugin-cache" >>"$GITHUB_ENV"
          mkdir --parents "$HOME/.terraform.d/plugin-cache"
          
      - name: Cache Terraform
        uses: actions/cache@v4
        with:
          path: |
            ~/.terraform.d/plugin-cache
          key: terraform-${{ runner.os }}-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: |
            terraform-${{ runner.os }}-
      
      - name: Terraform Init
        run: terraform init -input=false -backend-config="bucket=$BACKEND_CONFIG_BUCKET" -backend-config="namespace=$BACKEND_CONFIG_NAMESPACE" -backend-config="key=tf-state-${{ github.event.inputs.environment }}"
      
      - name: Terraform Plan
        id: plan
        run: terraform plan -destroy -input=false -var-file="inputs/${{ github.event.inputs.environment }}.tfvars" -out="tfplan-destroy-${{ github.event.inputs.environment }}"

      - name: Cache Terraform Plan
        uses: actions/cache/save@v4
        with:
          path: tfplan-destroy-${{ github.event.inputs.environment }}
          key: tfplan-destroy-${{ github.run_id }}-${{ github.event.inputs.environment }}


  destroy:
    runs-on: ubuntu-latest
    needs: plan
    environment: ${{ github.event.inputs.environment }}
    env:
      TF_VAR_environment: ${{ github.event.inputs.environment }}
      TF_VAR_tenancy_ocid: ${{ vars.OCI_TENANCY_OCID }}
      TF_VAR_compartment_ocid: ${{ vars[format('TF_VAR_COMPARTMENT_OCID_{0}', github.event.inputs.environment)] }}
      TF_VAR_region: ${{ vars.OCI_REGION }}
      TF_VAR_config_file_profile: ${{ vars.TF_VAR_CONFIG_FILE_PROFILE }}
      BACKEND_CONFIG_BUCKET: ${{ vars[format('BACKEND_CONFIG_BUCKET_{0}', github.event.inputs.environment)] }}
      BACKEND_CONFIG_NAMESPACE: ${{ vars.BACKEND_CONFIG_NAMESPACE }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 'Write Config & Key Files'
        run: |
          mkdir -p ~/.oci
          echo "${{ vars[format('OCI_CONFIG_FILE_{0}', github.event.inputs.environment)] }}" | tee ~/.oci/config > /dev/null
          echo "${{ secrets[format('OCI_KEY_FILE_{0}', github.event.inputs.environment)] }}" | tee ~/.oci/oci_api_key.pem > /dev/null
          chmod 600 ~/.oci/config ~/.oci/oci_api_key.pem
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Configure Terraform plugin cache
        run: |
          echo "TF_PLUGIN_CACHE_DIR=$HOME/.terraform.d/plugin-cache" >>"$GITHUB_ENV"
          mkdir --parents "$HOME/.terraform.d/plugin-cache"
          
      - name: Cache Terraform
        uses: actions/cache@v4
        with:
          path: |
            ~/.terraform.d/plugin-cache
          key: terraform-${{ runner.os }}-${{ hashFiles('**/.terraform.lock.hcl') }}
          restore-keys: |
            terraform-${{ runner.os }}-
      
      - name: Terraform Init
        run: terraform init -input=false -backend-config="bucket=$BACKEND_CONFIG_BUCKET" -backend-config="namespace=$BACKEND_CONFIG_NAMESPACE" -backend-config="key=tf-statefile-${{ github.event.inputs.environment }}"
      
      - name: Restore Plan Cache
        uses: actions/cache/restore@v4
        with:
          path: tfplan-destroy-${{ github.event.inputs.environment }}
          key: tfplan-destroy-${{ github.run_id }}-${{ github.event.inputs.environment }}
          fail-on-cache-miss: true

      - name: Terraform Destroy
        run: terraform apply tfplan-destroy-${{ github.event.inputs.environment }}